<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="headerFiles">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">
        <link th:rel="stylesheet" th:href="@{/css/base.css}">
    </th:block>
    <title>MyCloset</title>
</head>
<body>
<div th:fragment="header">
    <h2>My First Hello World Spring Boot Application</h2>
    <img id="closet" th:src="@{/images/closet.jpeg}">
</div>

<div th:fragment="footer">
    <h2>Copyright @2021</h2>
</div>

</body>
<th:block th:fragment="scripts">
    <script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
    <script th:href="@{/webjars/bootstrap/5.1.1/js/bootstrap.min.js}"></script>
</th:block>
</html>