<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headerFiles"></th:block>
    <title>MyCloset</title>
</head>

<body>
<div th:replace="fragments/base :: navigation"></div>
<div th:replace="fragments/base :: header"></div>

<br>
<h6 class="text-center"> Enter Your Outfit</h6>
    <form class="mt-3" th:action="@{/outfit}" th:object="${outfit}" method="post">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <input class="form-control" id="top" type="text" th:field="*{top}" placeholder="Shirt" required/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('top')}" th:errors="*{top}">

                    </span>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <input id="bottom" type="text" th:field="*{bottom}" placeholder="Pants" required/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('bottom')}" th:errors="*{bottom}">

                    </span>
                </div>
            </div>

            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <input id="shoes" type="text" th:field="*{shoes}" placeholder="Shoes" required/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('shoes')}" th:errors="*{shoes}">

                    </span>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <input class="btn btn-light btn-outline-dark" type="submit" value="Submit">
                </div>
            </div>

        </div>
    </form>

    <div th:replace="fragments/base :: footer"></div>
</body>
<th:block th:replace="fragments/base :: scripts"></th:block>
</html>