<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headAttributes"></th:block>
    <title>MyCloset</title>
</head>

<body>
<div th:replace="fragments/base :: header"></div>
<h2> Enter Your Outfit</h2>
<br> <br>
    <form th:action="@{/outfit}" th:object="${outfit}" method="post" >
        <input id="top" type="text" th:field="*{top}" placeholder="ex: Polo White T-Shirt">
        <br>
        <input id="bottom" type="text" th:field="*{bottom}" placeholder="ex: Levi Khaki Pants">
        <br>
        <input id="shoes" type="text" th:field="*{shoes}" placeholder="ex: Jordan Bred 11s">
        <br>
        <input type="submit" value="Submit">
    </form>

    <div th:replace="fragments/base :: footer"></div>
</body>
<th:block th:replace="fragments/base :: scripts"></th:block>
</html>