<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headerFiles"></th:block>

    <title>Outfit</title>
</head>
<body><div th:replace="fragments/base :: navigation"></div>
    <div th:replace="fragments/base :: header"></div>


    <div class="container-fluid">
        <div th:each="outfit: ${outfits}">
            <div class="row justify-content-center mb-3 mt-5">
                <div class="col-2 col-md-4"></div>
                <div class="col-8 col-md-4 card">
                    <div class="card-body">
                        <h5 class="card-title d-inline" th:text="${outfit.outfitName}"></h5>
                        <a th:href="@{/outfit/view/{id}(id=${outfit.id})}" class="ml-3 text-dark"><i class="fas fa-eye"></i> </a>
                        <a th:href="@{/outfit/delete/{id}(id=${outfit.id})}"class="ml-3 text-danger"><i class="fas fa-trash-alt"></i> </a>
                    </div>
                </div>
                <div class="col-2 col-md-4"></div>
            </div>
        </div>
    </div>



    <div th:replace="fragments/base :: footer"></div>
</body>
    <th:block th:replace="fragments/base :: scripts"></th:block>
</html>