<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:insert="fragments/base :: headerFiles"></th:block>
  <title>Sign Up</title>
</head>

<body>
<div th:replace="fragments/base :: navigation"></div>
<div th:replace="fragments/base :: header"></div>

<br>

<form class="mt-3" th:action="@{/signup}" th:object="${user}" method="post">
  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-8 col-md-3">
        <input class="form-control" id="firstName" type="text" th:field="*{firstName}" placeholder="First Name" required/>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 col-md-3">
        <input class="form-control" id="lastName" type="text" th:field="*{lastName}" placeholder="Last Name" required/>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 col-md-3">
        <input class="form-control" id="userName" type="text" th:field="*{username}" placeholder="Username" required/>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 col-md-3">
        <input class="form-control" id="email" type="text" th:field="*{email}" placeholder="@Email" required/>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 col-md-3">
        <input class="form-control" id="password" type="text" th:field="*{password}" placeholder="Password" required/>
      </div>
    </div>



    <div class="row justify-content-center">
      <div class="col-8 col-md-3">
        <input class="btn btn-light btn-outline-dark" type="submit" value="Submit">
      </div>
    </div>

  </div>
</form>


<div th:replace="fragments/base :: footer"></div>
</body>
<th:block th:replace="fragments/base :: scripts"></th:block>
</html>