<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:insert="fragments/base :: headerFiles"></th:block>

  <title>Outfit</title>
</head>
<body>
    <div th:replace="fragments/base :: navigation"></div>
    <div th:replace="fragments/base :: header"></div>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <h3 class="text-center col-12">View/Edit Outfit</h3>
        </div>
    </div>

    <form class="mt-3 mb-3" th:action="@{/outfit/edit/{id}(id=${outfit.id})}" th:object="${outfit}" method="post">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <input class="form-control" id="top" type="text" th:field="*{top}" placeholder="Shirt" required/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('top')}" th:errors="*{top}">

                    </span>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <input id="bottom" type="text" th:field="*{bottom}" placeholder="Pants" required/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('bottom')}" th:errors="*{bottom}">

                    </span>
                </div>
            </div>

            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <input id="shoes" type="text" th:field="*{shoes}" placeholder="Shoes" required/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('shoes')}" th:errors="*{shoes}">

                    </span>
                </div>
            </div>


            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <input id="outfitName" type="text" th:field="*{outfitName}" placeholder="Outfit name" required/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('outfitName')}" th:errors="*{outfitName}">

                    </span>
                </div>
            </div>


            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <span th:text="'Date Created: ' + ${#temporals.format(outfit.created, 'dd-MM-yyyy HH:mm')}"></span><br>
                    <span th:text="'Date Modified: ' + ${#temporals.format(outfit.modified, 'dd-MM-yyyy HH:mm')}"></span><br>
                </div>
            </div>


            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <input class="btn btn-light btn-outline-dark" type="submit" value="Submit">
                    <a class=" ml-2 btn btn-light btn-outline-dark" th:href="@{/view}">Cancel</a>
                </div>
            </div>

        </div>
    </form>

    <div th:replace="fragments/base :: footer"></div>
</body>
<th:block th:replace="fragments/base :: scripts"></th:block>
</html>